body {
	color: #b23850;
	background-color: #3b8be8;
	background-image: radial-gradient(#CEE2F9, #3b8be8);
}

#container {
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
	backgro
}

h1 {
	margin-top: 0;
}

main {
	clear: both;
}

figure {
	margin: 0;
	background-color: #e7e3d4;
	padding: 10px;
}

header {
	padding-bottom: 15px;
}

input {
	margin-top: 5px;
}

p {
	margin-left: 30px;
}

h3 {
	margin-left: 15px;
}

.left-align {
	float: left;
}

.right-align {
	float: right;
}

.normal {
	text-decoration: none;
	color: #b23850;
}

.box {
	background-color: #c4dbf6;
	padding: 20px;
	border: 3px solid #b23850;
	border-radius: 5px;
	text-decoration: none;
	color: #b23850;
}

a.box:hover {
	color: #8590aa;
	text-decoration: underline;
}