/*
	Author: Daniel Cancelmo
	
	Color scheme "Snowy Yet Warm": https://blog.visme.co/website-color-schemes/
*/

body {
	color: #b23850;
	background-color: #3b8be8;
	background-image: radial-gradient(#CEE2F9, #3b8be8);
	font-family: 'PT Sans', sans-serif;
}

#container {
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
	/*background-color: #8590aa;*/
	background-color: #c4dbf6;
	border: 4px solid #e7e3d4;
	border-radius: 10px;
	color: black;
}

h1, h2, h3 {
	font-family: 'Alegreya Sans', sans-serif;
}

h1 {
	margin-top: 0;
}

h2, h3 {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

main {
	clear: both;
	line-height: 1.5em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 30px;
}

aside {
	align-content: flex-end;
}

figure {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

header {
	padding-bottom: 15px;
}

table, tr, th, td {
	border: 1px solid black;
}

input {
	margin-top: 5px;
}

p {
	margin-left: 30px;
}

.left-align {
	float: left;
}

.right-align {
	float: right;
}

.normal {
	text-decoration: none;
	color: #b23850;
}

.box {
	background-color: #c4dbf6;
	padding: 20px;
	border: 3px solid #b23850;
	border-radius: 5px;
	text-decoration: none;
	color: #b23850;
}

a.box:hover {
	color: #8590aa;
	text-decoration: underline;
}