/*
	Author: Daniel Cancelmo
	
	Color scheme "Snowy Yet Warm": https://blog.visme.co/website-color-schemes/

	CSS Architecture: SMACSS

	Table of Contents
		BASE
		LAYOUT
		MODULE
*/

/*____________ BASE ____________*/
body {
	color: #b23850;
	background-color: #3b8be8;
	background-image: radial-gradient(#CEE2F9, #3b8be8);
	font-family: 'PT Sans', sans-serif;
}

h1 {
	margin-top: 0;
}

h1, h2, h3 {
	font-family: 'Alegreya Sans', sans-serif;
}

h2, h3 {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

main {
	clear: both;
}

figure {
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

header {
	padding-bottom: 15px;
}

footer {
	padding-top: 15px; 
	padding-bottom: 15px;
}

input {
	margin-top: 5px;
}

table, tr, th, td {
	border: 1px solid black;
}

p {
	margin-left: 30px;
}

/*____________ LAYOUT ____________*/
#index, #container {
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
}

#container {
	background-color: #c4dbf6;
	border: 4px solid #e7e3d4;
	border-radius: 10px;
	color: black;
}

/*____________ MODULE ____________*/
.left-align {
	float: left;
}

.right-align {
	float: right;
}

.hero {
	background-color: #e7e3d4;
}

.hero img {
	width: 100%;
}

.normal {
	text-decoration: none;
	color: #b23850;
}

.fpattern {
	line-height: 1.5em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 30px;
}

.box {
	background-color: #c4dbf6;
	padding: 20px;
	border: 3px solid #b23850;
	border-radius: 5px;
	text-decoration: none;
	color: #b23850;
}

a.box:hover, a.link:hover {
	color: #8590aa;
	text-decoration: underline;
}